<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Order</title>
</head>
<body>
    <center><h2>Your order has been placed!!</h2></center>
    <center><h3>{{items[0]}}</h3></center>
    <center><p>your table number is:</p></center>
    <center><p>your table number is:</p></center>
    <center><p>{{items[4]}}</p></center>
    <center><p>you ordered the following items: </p></center>
    <center><p>{{items[1]}}</p></center>
    <center><p>{{items[2]}}</p></center>
    <center><p>{{items[3]}}</p></center>
</body>
</html>