<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiter</title>
</head>
<body>
    <center><h1>Waiter Panel</h1></center>
    <center><h2>Current Order: <span id="ordernumber"></spanid></span> </h2></center>
    <center><p>This order goes to the following table:</p></center>
        <center><p id="tablenumber"></p></center>
    <a href = "/nextwaiterorder">
        <center><button>Next Order</button></center>
    </a>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        function update(){
            $.get("/updatewaiter", function(data){
                $("#ordernumber").html(data[0]);
                $("#tablenumber").html(data[4]);
            });
        }

        update();

        var intervalId = setInterval(function(){
            update();
        }, 5000);
    </script>
</body>
</html>